.main-title-home {
    background-image: url("https://cdn-icons-png.flaticon.com/512/1395/1395476.png");
    background-position: 700px center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 39px;
    margin: 40px 0 30px;
}