.add-block {
    background-color: aliceblue;
    border-radius: 8px;
    margin: 25px 150px;
    padding: 0 130px 0 0;
    box-shadow: -1px 0 6px -1px rgba(34, 60, 80, 0.2);
}

.textarea-description {
    resize: none;
    width: auto;
    height: 200px;
}

.label-title,
.label-description {
    text-align: center;
    font-size: 18px;
    margin-bottom: 15px;
}